<div class="component-container">
    <div class="w-100 mb-5 fst-elt" *ngFor="let item of items">
        <div class="row fst-elt">
            <div class="col-3 p-2 d-flex flex-column align-items-center justify-content-center">
                <div class="mb-2 mt-2 pp-field">
                    <img src="https://randomuser.me/api/portraits/women/71.jpg" alt="">
                </div>
                <div class="mt-2 mb-2 text-center">
                    Body Building
                </div>
            </div>
            <div class="col-9">
                <div class="mt-2 mb-2">
                    <h2 class="name-field">Name Surname</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores facere repudiandae quia
                        accusamus porro nam officiis eum nulla modi, error fuga. Voluptates quam quidem esse hic,
                        pariatur earum, accusamus ipsam necessitatibus sint blanditiis corporis praesentium?</p>
                </div>
            </div>
        </div>
        <div class="row detailed-content-field">
            <div class="dynamic-detail-field" [ngClass]="item.class[0]">
                <div class="w-100" *ngIf="item.class[2] === 'shown'">
                    <input type="date" name="" id="">
                </div>
                <button class="w-100 pt-1 pb-1 trainer-detail-button" (click)="toggleClass(item)">
                    <i [ngClass]="item.class[1]" class="fa-solid fa-lg" style="color: rgb(188, 188, 188)"></i>
                </button>
            </div>
        </div>
    </div>
</div>