<div class="container">

    <!-- Home-Body upper part -->
    <div class="row" style="min-height: 500px;">
        <div class="col-6"
            style="display: flex; justify-content: center; align-items: center; padding-top: 100px; padding-bottom: 100px;">
            <div class="skewed-frame"
                style="height: 500px; width: 333px; box-shadow: 25px 20px 50px rgba(0, 0, 0, 0.35); background-image: url(assets/pics/Two-Personal-Trainer.jpg); background-size: cover;">
            </div>
        </div>
        <div class="col-6 d-flex align-items-start flex-column" style="padding-top: 100px;">
            <div class="d-flex justify-content-center">
                <h2 class="red-underline w-100" style="text-align: center; height: 80px;"><b>Our Mission Is To Empower
                        <br> People Who Want To Be Fit</b></h2>
            </div>
            <div class="mt-3" style="width: 60%; color: gray;">
                <h5>Lorem ipsum dolor sit amet.</h5>
                <ul>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Sit amet consectetur, adipisicing elit.</li>
                    <li>Perferendis! Iste aut possimus eos!</li>
                    <li>Nemo cum totam quas impedit, similique.</li>
                    <li>Voluptatibus aliquam asperiores, impedit cumque fuga, deleniti atque.</li>
                </ul>
                <div style="color: red;">
                    <a href=""><i class="fa-solid fa-bore-hole fa-rotate-90" style="margin-right: 5px;"></i>READ
                        MORE</a>
                </div>
            </div>

        </div>
    </div>

    <!-- Home-Body exercise part -->
    <div class="row mb-5">

        <div class="col-5 d-flex align-items-center flex-column" style="padding-top: 100px;">
            <div class="d-flex justify-content-center">
                <h2 class="red-underline w-100" style="text-align: center; height: 80px;"><b>Start With Learning <br>
                        About Exercises</b></h2>
            </div>
            <div class="mt-3" style="width: 60%; color: gray;">
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis numquam debitis</h5>
                <div style="color: red; margin-top: 20px;">
                    <a href=""><i class="fa-solid fa-bore-hole fa-rotate-90" style="margin-right: 5px;"></i>VIEW ALL
                        EXERCISES</a>
                </div>
            </div>
        </div>

        <!-- Alttaki görsel tutucular için class oluşturup tekbir yoldan hallet -->
        <!-- Alttaki görsel tutucuların cursor üzerindeyken oluşan borderı daha kaliteli hale getir (Örneğin div ile arasında boşlık olacak ve süreç içinde oluşacak şekilde) -->
        <!-- Alttaki div için kutu içerisindeki görselleri değiştirmeye yarayan yukarı ve aşağı ok ekle -->
        <div class="col-7 d-flex justify-content-around flex-wrap">
            <div class="skewed-frame m-4 red-frame"
                style="height: 170px; width: 250px; box-shadow: 25px 20px 50px rgba(0, 0, 0, 0.35); background-image: url(assets/pics/Two-Personal-Trainer.jpg); background-size: cover; position: relative; color: white;">
                <p style="position: absolute; right: 40px; bottom: -10px;">Barbell Row</p>
            </div>
            <div class="skewed-frame m-4 red-frame"
                style="height: 170px; width: 250px; box-shadow: 25px 20px 50px rgba(0, 0, 0, 0.35); background-image: url(assets/pics/Two-Personal-Trainer.jpg); background-size: cover; position: relative; color: white;">
                <p style="position: absolute; right: 40px; bottom: -10px;">Dead Lift</p>
            </div>
            <div class="skewed-frame m-4 red-frame"
                style="height: 170px; width: 250px; box-shadow: 25px 20px 50px rgba(0, 0, 0, 0.35); background-image: url(assets/pics/Two-Personal-Trainer.jpg); background-size: cover; position: relative; color: white;">
                <p style="position: absolute; right: 40px; bottom: -10px;">Squat</p>
            </div>
            <div class="skewed-frame m-4 red-frame"
                style="height: 170px; width: 250px; box-shadow: 25px 20px 50px rgba(0, 0, 0, 0.35); background-image: url(assets/pics/Two-Personal-Trainer.jpg); background-size: cover; position: relative; color: white;">
                <p style="position: absolute; right: 40px; bottom: -10px;">Leg Press</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="d-flex flex-column align-items-center mt-5" style="position: relative;">
            <h2 class="red-underline" style="text-align: center; display: block;"><b>Watch Out Workout Tips</b>
            </h2>
            <div class="skewed-frame mt-3 bg-primary" style="overflow: hidden; width: 65%;">
                <img src="assets\pics\Climbing-To-Rope.jpg" alt="" width="100%">
            </div>
            <a href="https://www.google.com">
                <img src="assets\pics\Player-Icon.png" alt="" style="position: absolute; right: 25%; bottom: 25%; opacity: 0.8; width: 10%;">
            </a>
            <div class="full-width-div" style="background-color: black; height: 300px;">
            </div>
        </div>

    </div>
</div>

<div style="width: 100%; height: 200px; background-color: black;">

</div>