<div class="container">
    <div class="row" style="min-height: 500px;">
        <div class="col-6" style="display: flex; justify-content: center; align-items: center; padding-top: 100px; padding-bottom: 100px;">
            <div class="skewed-frame" style="height: 500px; width: 333px; background-image: url(assets/pics/Two-Personal-Trainer.jpg); background-size: cover;">
                
            </div>
        </div>
        <div class="col-6" style="background-color: aquamarine;">
        
        </div>
    </div>
</div>