<div class="container">

    <!-- Home-Body upper part -->
    <div class="row" style="min-height: 500px;">
        <div class="col-6"
            style="display: flex; justify-content: center; align-items: center; padding-top: 100px; padding-bottom: 100px;">
            <div class="skewed-frame"
                style="height: 500px; width: 333px; box-shadow: 25px 20px 50px rgba(0, 0, 0, 0.35); background-image: url(assets/pics/Two-Personal-Trainer.jpg); background-size: cover;">
            </div>
        </div>
        <div class="col-6 d-flex align-items-start flex-column" style="padding-top: 100px;">
            <div class="d-flex justify-content-center">
                <h2 class="red-underline w-100" style="text-align: center; height: 80px;"><b>Our Mission Is To Empower
                        <br> People Who Want To Be Fit</b></h2>
            </div>
            <div class="mt-3" style="width: 60%; color: gray;">
                <h5>Lorem ipsum dolor sit amet.</h5>
                <ul>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Sit amet consectetur, adipisicing elit.</li>
                    <li>Perferendis! Iste aut possimus eos!</li>
                    <li>Nemo cum totam quas impedit, similique.</li>
                    <li>Voluptatibus aliquam asperiores, impedit cumque fuga, deleniti atque.</li>
                </ul>
                <div style="color: red;">
                    <a href=""><i class="fa-solid fa-bore-hole fa-rotate-90" style="margin-right: 5px;"></i>READ
                        MORE</a>
                </div>
            </div>

        </div>
    </div>

    <!-- Home-Body exercise part -->
    <div class="row mb-5">

        <div class="col-5 d-flex align-items-center flex-column" style="padding-top: 100px;">
            <div class="d-flex justify-content-center">
                <h2 class="red-underline w-100" style="text-align: center; height: 80px;"><b>Start With Learning <br>
                        About Exercises</b></h2>
            </div>
            <div class="mt-3" style="width: 60%; color: gray;">
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis numquam debitis</h5>
                <div style="color: red; margin-top: 20px;">
                    <a href=""><i class="fa-solid fa-bore-hole fa-rotate-90" style="margin-right: 5px;"></i>VIEW ALL
                        EXERCISES</a>
                </div>
            </div>
        </div>

        <!-- Alttaki görsel tutucular için class oluşturup tekbir yoldan hallet -->
        <!-- Alttaki görsel tutucuların cursor üzerindeyken oluşan borderı daha kaliteli hale getir (Örneğin div ile arasında boşlık olacak ve süreç içinde oluşacak şekilde) -->
        <!-- Alttaki div için kutu içerisindeki görselleri değiştirmeye yarayan yukarı ve aşağı ok ekle -->
        <div class="col-7 d-flex justify-content-around flex-wrap">
            <div class="skewed-frame m-4 red-frame"
                style="height: 170px; width: 250px; box-shadow: 25px 20px 50px rgba(0, 0, 0, 0.35); background-image: url(assets/pics/Two-Personal-Trainer.jpg); background-size: cover; position: relative; color: white;">
                <p style="position: absolute; right: 40px; bottom: -10px;">Barbell Row</p>
            </div>
            <div class="skewed-frame m-4 red-frame"
                style="height: 170px; width: 250px; box-shadow: 25px 20px 50px rgba(0, 0, 0, 0.35); background-image: url(assets/pics/Two-Personal-Trainer.jpg); background-size: cover; position: relative; color: white;">
                <p style="position: absolute; right: 40px; bottom: -10px;">Dead Lift</p>
            </div>
            <div class="skewed-frame m-4 red-frame"
                style="height: 170px; width: 250px; box-shadow: 25px 20px 50px rgba(0, 0, 0, 0.35); background-image: url(assets/pics/Two-Personal-Trainer.jpg); background-size: cover; position: relative; color: white;">
                <p style="position: absolute; right: 40px; bottom: -10px;">Squat</p>
            </div>
            <div class="skewed-frame m-4 red-frame"
                style="height: 170px; width: 250px; box-shadow: 25px 20px 50px rgba(0, 0, 0, 0.35); background-image: url(assets/pics/Two-Personal-Trainer.jpg); background-size: cover; position: relative; color: white;">
                <p style="position: absolute; right: 40px; bottom: -10px;">Leg Press</p>
            </div>
        </div>
    </div>

    <!-- Home-Body exercise video part (The big one) -->
    <div class="row" style="margin-bottom: -160px;">
        <div class="d-flex flex-column align-items-center mt-5" style="position: relative;">
            <h2 class="red-underline" style="text-align: center; display: block; font-size: 35px;"><b>Watch Out Workout
                    Tips</b>
            </h2>
            <div class="skewed-frame mt-3 bg-primary" style="overflow: hidden; width: 65%;">
                <img src="assets\pics\Climbing-To-Rope.jpg" alt="" width="100%">
            </div>
            <a href="#">
                <img src="assets\pics\Player-Icon.png" alt=""
                    style="position: absolute; right: 25%; bottom: 25%; opacity: 0.8; width: 10%;">
            </a>
            <div class="full-width-div" style="background-color: black; height: 300px;">
            </div>
        </div>
    </div>

    <!-- Home-Body exercise target flashcard part -->
    <!-- Bu kısımda kendisini tekrar eden elementler var. Program kısmında burayı unutma -->
    <div class="row">
        <div class="d-flex flex-column align-items-center mt-5" style="position: relative;">
            <h2 class="red-underline" style="text-align: center; display: block; font-size: 35px;"><b>Exercises That
                    Target Certain Muscles</b>
            </h2>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center flashcard">
            <div class="front">
                <div style="position: absolute; left: 5%; bottom: 5%;">
                    <h2 style="font-size: 2rem;">Biceps</h2>
                    <a href="" class="a-non-bolder"><i class="fa-solid fa-bore-hole fa-rotate-90"
                            style="margin-right: 5px; color: red;"></i>Dumbell, Hammer & Barbell Curl</a>
                </div>
            </div>
            <div class="back">
                <div class="back-c pt-5">
                    <h2 style="font-size: 2rem;">Biceps</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, repudiandae veniam? Lorem ipsum,
                        dolor sit amet consectetur adipisicing elit.</p>
                    <p>Voluptatem maxime cum atque facere voluptatibus et! Lorem ipsum dolor sit amet consectetur.</p>
                    <div style="margin-top: 50px;">
                        <a href="" class="a-non-bolder"><i class="fa-solid fa-bore-hole fa-rotate-90"
                                style="margin-right: 5px; color: red;"></i>START PRACTISING</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center flashcard">
            <div class="front">
                <div style="position: absolute; left: 5%; bottom: 5%;">
                    <h2 style="font-size: 2rem;">Biceps</h2>
                    <a href="" class="a-non-bolder"><i class="fa-solid fa-bore-hole fa-rotate-90"
                            style="margin-right: 5px; color: red;"></i>Dumbell, Hammer & Barbell Curl</a>
                </div>
            </div>
            <div class="back">
                <div class="back-c pt-5">
                    <h2 style="font-size: 2rem;">Biceps</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, repudiandae veniam? Lorem ipsum,
                        dolor sit amet consectetur adipisicing elit.</p>
                    <p>Voluptatem maxime cum atque facere voluptatibus et! Lorem ipsum dolor sit amet consectetur.</p>
                    <div style="margin-top: 50px;">
                        <a href="" class="a-non-bolder"><i class="fa-solid fa-bore-hole fa-rotate-90"
                                style="margin-right: 5px; color: red;"></i>START PRACTISING</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center flashcard">
            <div class="front">
                <div style="position: absolute; left: 5%; bottom: 5%;">
                    <h2 style="font-size: 2rem;">Biceps</h2>
                    <a href="" class="a-non-bolder"><i class="fa-solid fa-bore-hole fa-rotate-90"
                            style="margin-right: 5px; color: red;"></i>Dumbell, Hammer & Barbell Curl</a>
                </div>
            </div>
            <div class="back">
                <div class="back-c pt-5">
                    <h2 style="font-size: 2rem;">Biceps</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, repudiandae veniam? Lorem ipsum,
                        dolor sit amet consectetur adipisicing elit.</p>
                    <p>Voluptatem maxime cum atque facere voluptatibus et! Lorem ipsum dolor sit amet consectetur.</p>
                    <div style="margin-top: 50px;">
                        <a href="" class="a-non-bolder"><i class="fa-solid fa-bore-hole fa-rotate-90"
                                style="margin-right: 5px; color: red;"></i>START PRACTISING</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="d-flex flex-column align-items-center mt-5 mb-5" style="position: relative;">
            <h2 style="text-align: center; display: block; font-size: 35px;"><b>Get Daily Schedule For Workouts</b>
            </h2>
        </div>

        <div class="skewed d-flex align-items-center " style="border: 1px solid #ccc; width: 50%; margin-bottom: 50px;">
            <input type="text" placeholder="Enter Your E-mail" class="unskewed p-3"
                style="height: 65%; flex: 1; border: none; outline: none;">
            <button
                style="display: flex; justify-content: center; align-items: center; background-color: red; margin-left: 5px; margin-right: -6px; padding: 5px; color: white; border: none; height: 85%; border-radius: 5px;"
                class="">
                <p class="unskewed" style="margin: 1px 5px;">Subscribe</p>
                <i class="fa-solid fa-angles-right fa-xs unskewed"></i>
            </button>
        </div>
    </div>

</div>

<div style="width: 100%; padding-left: 10vw; padding-right: 10vw; background-color: rgb(22, 22, 22);">

    <div class="d-flex justify-content-between pt-5 pb-5">
        <div>
            <div class="skewed p-1 mb-4" style="display: inline-block; border: 1px solid red; margin-left: 1rem;">
                <img src="assets\pics\logo-removebg-preview.png" height="25px" alt="" class="unskewed">
            </div>
            <div class="color-gray" style="max-width: 25rem;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi odio quibusdam laboriosam eos
                    aliquam cumque, perspiciatis molestias nemo non, nobis qui architecto, repellendus ipsa sapiente
                    impedit rem et facere quam?</p>
            </div>
        </div>
        <div>
            <h3 class="color-gray-soft"><b>QUICK LINKS</b></h3>
            <ul class="color-gray" style="list-style: none; padding: 0;">
                <li>About us</li>
                <li>Exercises</li>
                <li>Muscular Groups</li>
                <li>Videos</li>
                <li>Contact</li>
            </ul>
        </div>
        <div>
            <h3 class="color-gray-soft"><b>TYPES OF EXERCISES</b></h3>
            <ul class="color-gray" style="list-style: none; padding: 0;">
                <li>Bench Press</li>
                <li>Overhead Press</li>
                <li>Dips</li>
                <li>Squats</li>
                <li>Deadlifts</li>
            </ul>
        </div>
        <div>
            <h3 class="color-gray-soft" style="margin-right: 1.5rem;"><b>FOLLOW US</b></h3>
            <div class="d-flex justify-content-between">
                <div>
                    <a href="">
                        <i class="fa-brands fa-square-facebook fa-xl color-gray"></i>
                    </a>
                </div>
                <div>
                    <a href="">
                        <i class="fa-brands fa-square-twitter fa-xl color-gray"></i>
                    </a>
                </div>
                <div>
                    <a href="">
                        <i class="fa-brands fa-square-pinterest fa-xl color-gray"></i>
                    </a>
                </div>
                <div>
                    <a href="">
                        <i class="fa-brands fa-linkedin fa-xl color-gray"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div style="margin-left: 15rem; margin-right: 15rem;">
        <hr class="color-gray-soft">
    </div>

    <div class="d-flex justify-content-center align-items-center pb-3">
        <div style="border-radius: 50%; margin-right: 5px;">
            <i class="fa-regular fa-copyright fa-xs color-gray "></i></div>
        <p class="color-gray" style="margin: 0;">2023 Copyrights. All rights reserved.</p>
    </div>

</div>