<div class="d-flex align-items-center justify-content-between" style="background-color: white; height: 8vh;">
        <button style="border: none; background: transparent;" routerLink="/">
            <div class="skewed p-1" style="display: inline-block; border: 1px solid red; margin-left: 1rem; margin-bottom: 0.5rem;">
                <img src="assets\pics\logo-removebg-preview.png" height="25px" alt="" class="unskewed">
            </div>
        </button>
        <div class="d-flex align-items-center">
            <div>
                User Name
            </div>
                <button style="height: 40px; width: 40px; background: transparent; border: none; border-radius: 50%; overflow: hidden; margin-right: 2vw; margin-left: 1rem; padding: 0;">
                    <img src="assets\pics\Gorilla-With-Dumbbell.jpg" alt="" style="height: 40px; width: 40px;">
                </button>
        </div>
</div>
