<div class="d-flex align-items-center justify-content-between"
    style="background-color: rgb(122, 122, 122); height: 8vh;">
    <button style="border: none; background: transparent; margin-left: 15px;" routerLink="/">
        <div class="skewed p-1" style="display: inline-block; margin-left: 1rem; background-color: white;">
            <img src="assets\pics\logo-removebg-preview.png" height="25px" alt="" class="unskewed">
        </div>
    </button>
    <div class="d-flex align-items-center"
        style="border-radius: 50px; margin-right: 1vw; padding: 2px 0 2px 1rem; background-color: white;">
        <div style="color: red;">
            {{ userName }}
        </div>
        <button mat-button [matMenuTriggerFor]="belowMenu"
            style="height: 40px; width: 40px; background: transparent; padding: 0;">
            <div style="border: 1px solid red; border-radius: 50%; overflow: hidden; position: relative; left: 23%;">
                <img src="{{ userPic }}" alt="" style="height: 40px; width: 40px;">
            </div>
            <mat-menu #belowMenu="matMenu" yPosition="below">
                <ng-container *ngFor="let menu of userMenuList">
                    <button mat-menu-item (click)="menuClick(menu)">{{ menu | translate}}</button>
                </ng-container>
            </mat-menu>
        </button>
    </div>
</div>