<div>
    <div id="navbar" class="d-flex"
        style="width: 100%; padding-left: 2vw; padding-right: 10vw; position: relative; z-index: 1; top: 1vh;">
        <app-language></app-language>
        <div class="d-flex justify-content-between align-items-center flex-grow-1">
            <div class="skewed p-1" style="display: inline-block; border: 1px solid red; margin-bottom: 0.5rem;">
                <img src="assets\pics\logo-removebg-preview.png" height="25px" alt="" class="unskewed">
            </div>
            <div id="navbar-icons" class="d-flex justify-content-between" style="margin-top: 6px; margin-right: 6vw;">
                <div class="d-flex flex-column align-items-center">
                    <i class="fa-solid fa-dumbbell fa-lg" style="color: #ff0000; margin: auto;"></i>
                    <p style="margin: 10px 0 0;">{{ 'exercises' | translate }}</p>
                </div>
                <div class="d-flex flex-column align-items-center" style="margin-left: 18vh;">
                    <i class="fa-solid fa-graduation-cap fa-lg" style="color: #ff0000; margin: auto;"></i>
                    <p style="margin: 10px 0 0;">{{ 'learn' | translate }}</p>
                </div>
                <div class="d-flex flex-column align-items-center" style="margin-left: 18vh;">
                    <i class="fa-solid fa-circle-info fa-lg" style="color: #ff0000; margin: auto;"></i>
                    <p style="margin: 10px 0 0;">{{ 'about' | translate }}</p>
                </div>
            </div>
            <div style="width: 128.5px;">
                <button
                    style="display: flex; justify-content: center; align-items: center; background-color: rgb(255, 0, 0, 0.7); padding: 5px; color: white; border: none;"
                    class="skewed" routerLink="/auth">
                    <p class="unskewed" style="margin: 1px 5px;">{{ 'userEntrance' | translate }}</p>
                    <i class="fa-solid fa-angles-right fa-xs unskewed"></i>
                </button>
            </div>
        </div>

    </div>
    <div style="height: 700px; display: flex; margin-top: -6vh;">
        <div style="width: 45%; display: flex; justify-content: center; align-items: center;">
            <div
                style="display: flex; justify-content: center; align-items: center; font-size: 55px; text-align: start; width: 75%; padding-left: 50px; line-height: 100%; line-clamp: 3;">
                <p>
                    <b>{{ 'mainPageMainHeader' | translate }}</b>
                </p>
            </div>
        </div>
        <div class="flu-background"
            style="width: 55%; height: 100%; background-image: url(assets/pics/Empty-Gym-Home-Header.jpg); background-size: cover; position: relative;">
            <img src="assets\pics\Red-Circle.png" style="position: absolute; width: 55%; bottom: 28%; left: -15%;">
            <button (click)="displayClick()" style="width: 125px; height: 125px; position: absolute; left: 5%; bottom: 4%; z-index: 1; background: transparent; border: none;">
                <img src="assets\pics\Player-Icon.png" alt="" style="opacity: 0.8; width: 100%; height: auto;">
            </button>
            <img src="assets\pics\Lifting-Dumbell-3-removebg-preview.png" height="95%"
                style="position: absolute; bottom: 0; left: -15%">
        </div>
    </div>
    <div
        style="height: 120px; width: 100%; background-color: black; display: flex; justify-content: space-evenly; align-items: center; color: white;">
        <div style="display: flex; justify-content: center; align-items: center;">
            <i class="fa-regular fa-clock fa-2xl" style="color: #8f8f8f;  margin-right: 15px;"></i>
            <div>
                <h4 style="margin: 0;">Schedule For Workouts</h4>
                <p style="margin: 0;">Monday: Arms And Shoulders - Push Ups: 3 Sets of 8 Reps</p>
            </div>
        </div>
        <button
            style="display: flex; justify-content: center; align-items: center; background-color: rgb(255, 0, 0, 0.7); padding: 5px; color: inherit; border: none;"
            class="skewed">
            <p class="unskewed" style="margin: 1px 5px;">{{ 'dailyUpdate' | translate }}</p>
            <i class="fa-solid fa-angles-right fa-xs unskewed"></i>
        </button>
    </div>
</div>

<div class="w-75"
    style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(0, 0, 0, 0.8); border-radius: 25px; z-index: 10;"
    [ngClass]="displayClass">
    <div style="position: relative;">
        <!-- Tasarım amacıyla ilerleyen dönemlerde skewed yapılabilir. Şimdilik vakit kaybetmeye gerek yok -->
        <button
            style="color: #ff0000; position: absolute; right: 0.75rem; top: 0.75rem; border-radius: 50%; background: transparent; "
            (click)="displayClick()"><b>X</b></button>
    </div>
    <div class="d-flex justify-content-center align-items-center p-5" style="max-height: 100%;">
        <video src="assets\pics\fitness website 0.mp4" controls style="max-height: 75%; width: auto; background-color: black; padding: 5vh; border-radius: 25px;"></video>
    </div>
</div>