<div>
    <div style="height: 700px; display: flex;">
        <div style="width: 45%; display: flex; justify-content: center; align-items: center;">
            <div
                style="display: flex; justify-content: center; align-items: center; font-size: 55px; text-align: start; width: 75%; padding-left: 50px; line-height: 100%; line-clamp: 3;">
                <p>
                    <b>GET BODY IN SHAPE & STAY HEALTHY</b>
                </p>
            </div>
        </div>
        <div
            style="width: 55%; height: 100%; background-image: url(assets/pics/Empty-Gym-Home-Header.jpg); background-size: cover; position: relative;">
            <img src="assets\pics\Red-Circle.png" style="position: absolute; width: 55%; bottom: 28%; left: -15%;">
            <a href="">
                <img src="assets\pics\Player-Icon.png"
                    style="position: absolute; z-index: 1; opacity: 0.8; width: 18%; left: 5%; bottom: 4%;">
            </a>
            <img src="assets\pics\Lifting-Dumbell-3-removebg-preview.png" height="100%"
                style="position: absolute; bottom: 0; left: -15%">
        </div>
    </div>
    <div
        style="height: 120px; width: 100%; background-color: black; display: flex; justify-content: space-evenly; align-items: center; color: white;">
        <div style="display: flex; justify-content: center; align-items: center;">
            <i class="fa-regular fa-clock fa-2xl" style="color: #8f8f8f;  margin-right: 15px;"></i>
            <div>
                <h4 style="margin: 0;">Schedule For Workouts</h4>
                <p style="margin: 0;">Monday: Arms And Shoulders - Push Ups: 3 Sets of 8 Reps</p>
            </div>
        </div>
        <button
            style="display: flex; justify-content: center; align-items: center; background-color: red; padding: 5px; color: inherit; border: none;"
            class="skewed">
            <p class="unskewed">Get Daily Updates</p>
            <i class="fa-solid fa-angles-right fa-xs unskewed"></i>
        </button>
    </div>
</div>