.btn-auth {
    background: transparent;
    border: none;
}

.auth-gorilla {
    background-color: #841515;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset 125px 125px 50px rgba(0, 0, 0, 0.6);
}