<div style="height: 97vh; width: 99vw; background-color: rgb(22, 22, 22);">
    <div class="row p-4 " style="height: 15%; margin-left: 1rem;">
        <button style="border: none; background: transparent; width: 11%;" routerLink="/">
            <div class="skewed p-1" style="display: inline-block; margin-left: 1rem; background-color: white;">
                <img src="assets\pics\logo-removebg-preview.png" height="25px" alt="" class="unskewed">
            </div>
        </button>
    </div>
    <div class="row w-100" style="height: 85%;">
        <div class="col-5 h-100 pb-5 d-flex justify-content-end">
            <!-- Log In router button -->
            <button class="h-100 w-75 btn-auth" routerLink="/auth/login">
                <div class="h-100 w-100 auth-gorilla">
                    <div class="h-75 p-2 d-flex justify-content-center align-items-center">
                        <img src="assets\pics\gorilla-gb5468db4d_1920.png" alt="" height="100%">
                    </div>
                    <div class="h-25 d-flex justify-content-center" style="font-size: 20px;">
                        <p><b>{{ 'alreadyUser' | translate }}</b></p>
                    </div>
                </div>
            </button>
        </div>
        <div class="col-2 h-100 d-flex justify-content-center">
            <img src="assets\pics\Thunder-Separator.png" alt="" height="130%" style="margin-top: -11rem;">
        </div>
        <div class="col-5 h-100 pb-5 d-flex justify-content-start">
            <!-- Sign Up router button -->
            <button class="h-100 w-75 btn-auth" routerLink="/auth/signup">
                <div class="h-100 w-100 d-flex flex-column align-items-center auth-gorilla">
                    <div class="h-75 d-flex justify-content-center align-items-center" style="padding-right: 7vh;">
                        <img src="assets\pics\Baby-Gorilla.png" alt="" height="75%">
                    </div>
                    <div class="h-25 d-flex justify-content-center" style="font-size: 20px;">
                        <p><b>{{ 'newUser' | translate }}</b></p>
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>
