.right-content-scrollbar::-webkit-scrollbar {
    width: 0.75em;
}

.right-content-scrollbar::-webkit-scrollbar-track {
    background: rgb(83, 83, 83);
    border-radius: 100vw;
}

.right-content-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(152, 151, 151);
    border-radius: 100vw;
}

.right-content-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(149, 91, 91);
}

.right-content-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgb(152, 151, 151) rgb(83, 83, 83);
}

.change-user-card {
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
}

.change-user-card-back {
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.user-id-card {
    height: 38vw;
    width: 375px;
    border: 1px solid black;
    border-radius: 2vw;
    background-color: rgba(66, 66, 66, 255);
}

.my-form-field {
    margin-bottom: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(66, 66, 66, 255);
    padding: 0 0.3rem 0.3rem;
    border-radius: 15px;
    border: 1px solid black;
}

.my-input {
    width: 100%;
    border-radius: 15px;
    background-color: rgb(229, 226, 226);
    padding: 0.3rem;
    border: none;
    color: black;
}

.update-button {
    width: 100%;
    height: 2.5rem;
    background: transparent;
    border: none;
    color: white;
}

.my-button-field:hover {
    background-color: rgb(128, 128, 128);
}

/* .my-button-field:active {
    background-color: rgb(219, 84, 84);
} */

.priority-content {
    position: relative;
    z-index: 2;
}