/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: inherit;
}

/* Bu kod projenin ilerleyen kısımlarında kullanacağımız divlerde işe yarayabilir */
.skewed {
    transform: skewX(-30deg);
    transform-origin: 0;
    border-radius: 5px;
}

.unskewed {
    transform: skewX(30deg);
    margin: 1px 5px;
}

.skewed-frame {
    transform: skewX(-3deg);
    transform-origin: 0;
    border-radius: 25px;
}

.unskewed-frame {
    transform: skewX(3deg);
    margin: 1px 5px;
}

.red-underline {
    cursor: pointer;
}

.red-underline::after {
    content: "";
    display:block;
    height: 4px;
    width: 100%;
    background-color: red;
    transform: scaleX(0.3);
    transition: all 0.5s ease;
}
/* home-body deki Our mission ... başlığındaki kullanımda soldan ve sağdan fzla dışarı çıktığı için şimdilik 0.63 scale yaptım. İlerleyen dönemlerde nasıl düzeltileceğini öğren */
.red-underline:hover::after {
    transform: scaleX(1);
}
